<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lessons</title>
  </head>
  <body>
    {% for row_group in lessons %}
    <h2>ID: {{ row_group[0][0][0]['ID'] }}</h2>
    <table border="1">
        {% for row_num in row_group %}
            <tr>
                {% for column in row_num %}
                    {% for lesson in column %}
                        <td>{{ lesson }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}
</body>
</html>
